/*
* Styles Starter Kit
* Based on Skeleton CSS
* @heymynameisrob
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Breakpoints & Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin bp($point) {

   @if $point == xl {
     @media (min-width: 75rem) { @content ; }
  }
    @else if $point == lg {
      @media (min-width: 62rem) { @content ; }
   }
   @else if $point == md {
     @media (min-width: 48rem) { @content ; }
  }
    @else if $point == sm {
     @media (min-width: 34rem) { @content ; }
  }
  @else if $point == xs {
     @media (max-width:33.8rem)  { @content ; }

  }
}


/* General Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Brand Colours
$colourPrimary: #111;
$colourSecondary: #222;

// Button colours
$colourBtnPrimary: $colourPrimary;
$colourBtnPrimaryHover: darken($colourBtnPrimary, 10%);
$colourBtnPrimaryActive: darken($colourBtnPrimaryHover, 10%);
$colourBtnPrimaryText: white;

$colourBtnSecondary: $colourSecondary;
$colourBtnSecondaryHover: darken($colourBtnSecondary, 10%);
$colourBtnSecondaryActive: darken($colourBtnSecondaryHover, 10%);
$colourBtnSecondaryText: white;

// Text link colours
$colourLink: $colourPrimary;
$colourLinkHover: lighten($colourPrimary, 15%);

// Text colours
$colourHeaderText: #333;
$colourBodyText:#333;

// Backgrounds
$colourBody:white;

// Border colours
$colourBorder: white;

// Helper colours
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Motion
$motionTransition: all 0.25s cubic-bezier(0.46, 0.01, 0.32, 1);

// Sizing variables
$containerWidth: 75rem;
$gutter: 1rem; // 16px
$gridGutter: 1rem; // 16px
$radius: 0.5rem; // 8px

// Font stacks
$primaryFontStack: 'Helvetica Neue', sans-serif;
$secondaryFontStack: sans-serif;

